@model WebAppMerck.Models.ViewModel.UbicacionViewModel


<nav class="navbar">
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="TextoInformativoGrafico">
            <img src="~/imagenes/FlechanNavBar.png" />
        </a>
    </div>
    <ul class="nav-list" id="navList">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
    </ul>
    <div class="burger" id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>

<div class="row" style="background-color: #2EBDCD; margin:0">
    <div class="col-md-12">
        <div class="col-12 text-center vh-50" style="margin-top: 35px">
            <img class="mb-4" style="display:block; margin-left:auto; margin-right:auto" src="~/imagenes/LogoMerck.jpg" />

            <div class="text-center" style="margin-top: 65px; margin-bottom: 45px; color:#aff3fb;">
                <div class="row align-items-center">
                    <div class="col">
                        <img src="~/imagenes/FlechaIzquierda.png" />
                    </div>
                    <div class="col">
                        <p class="display-4" style="margin-bottom:0;">FORMULARIO</p>
                    </div>
                    <div class="col">
                        <img src="~/imagenes/FlechaDerecha.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #ffff; border-top-left-radius: 1000px; border-top-right-radius: 1000px; height: 50px;margin:0">
    </div>
</div>

<form asp-action="ConsultaFinal" method="post">

    <div class="container mt-3" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 10px; margin-bottom: 10px; width: 80%; padding-left:45px">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoUbicacion.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #776793; text-align:center; font-size: 23px; font-weight: 500; margin-right:28px;">Pais</p>
                    </div>
                </div>
                <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <select id="pais" name="pais" asp-for="Pais" style="width: 160px; height: 30px; border: 2px solid #333333; border-radius: 5px;">
                            <option value="">Selecciona un Pais</option>
                            <option>Argentina</option>
                        </select>
                        <span asp-validation-for="Pais" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 10px; margin-bottom: 10px; width: 80%; padding-left:45px">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoUbicacion.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #776793; text-align:center; font-size: 23px; font-weight: 500;margin-right:-20px">Provincia</p>
                    </div>
                </div>
                <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <select id="provincia" name="provincia" style="width: 160px; height: 30px; border: 2px solid #333333; border-radius: 5px;" onchange="capturarProvinciaSeleccionada(this)" asp-for="Provincia">
                            <option value="">Selecionar Provincia</option>
                            @foreach (var provincia in Model.Provincias)
                            {
                                <option value="@provincia.Value">@provincia.Text</option>
                            }
                        </select>
                        <span asp-validation-for="Provincia" class="text-danger"></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 10px; margin-bottom: 10px; width: 80%;padding-left:45px">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoUbicacion.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #776793; text-align:center; font-size: 23px; font-weight: 500; margin-right:-20px">Localidad</p>
                    </div>
                </div>
                <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <select id="localidad" name="localidad" style="width: 160px; height: 30px; border: 2px solid #333333; border-radius: 5px;">
                            <option value="">Selecionar Localidad</option>
                            @foreach (var localidad in Model.Localidades)
                            {
                                <option value="@localidad.Value">@localidad.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 10px; margin-bottom: 10px; width: 80%;padding-left:45px">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoConsulta.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #ef4488; text-align:center; font-size: 23px; font-weight: 500; margin-left:85px;">Motivo consulta</p>
                    </div>
                </div>
                <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <select id="edadActual" name="edadActual" style="width: 160px; height: 30px; border: 2px solid #333333; border-radius: 5px;">
                            <option value="">Consulta</option>
                            <option>Edad y Reserva Ovárica</option>
                            <option>Evaluación de Reserva Ovárica</option>
                            <option>Mejora de la Fertilidad</option>
                            <option>Enfermedades y Fertilidad</option>
                            <option>Preservación de la Fertilidad</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 10px; margin-bottom: 10px; width: 80%;padding-left:45px">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoEmail.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #ef4488; text-align:center; font-size: 23px; font-weight: 500; margin-left:60px;">Mail contacto</p>
                    </div>
                </div>
                <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <input id="Email" name="edadActual" type="email" placeholder="Correo electrónico" style="width: 160px; height: 30px; border: 2px solid #333333; border-radius: 5px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="container mt-4" style="margin-bottom:300px">
    <div class="row" id="clinica" name="clinica">
        @if (Model.ClinicasItems != null && Model.ClinicasItems.Any())
        {
            @foreach (var clinica in Model.ClinicasItems)
            {

                <div style="margin-left:60px; flex: 1;">
                    <img style="width: 50%;" src="~/imagenes/FotoPlanta.png" />
                </div>
                <p class="clinica-nombre custom-nombre">@clinica.Text</p>

            }
        }
    </div>
</div>


<div class="container mt-1">
    <div class="row">
        <div class="col-12">
            <a asp-controller="Home" asp-action="AgradecimientoConsulta" class="btn btn-info col-8 offset-2 p-9 btn-rounded custom-btn btn-text-white" style="border-radius: 35px; border: 2px solid white; background-color: #067785; color: #94d4de;margin-right:60px; font-size:17px">Enviar</a>
        </div>
    </div>
</div>


<script>
    function capturarProvinciaSeleccionada(provinciaSelect) {
        var provincia = provinciaSelect.value;

        // Guardar el valor actual de la localidad
        var localidadDropdown = document.getElementById('localidad');
        var localidadValue = localidadDropdown.value;

        // Realizar llamada AJAX para obtener clínicas
        var xhrClinicas = new XMLHttpRequest();
        xhrClinicas.open('GET', '/Home/ObtenerClinicas?provincia=' + provincia, true);
        xhrClinicas.onreadystatechange = function () {
            if (xhrClinicas.readyState === 4 && xhrClinicas.status === 200) {
                // Manejar la respuesta JSON
                var clinicas = JSON.parse(xhrClinicas.responseText);

                // Limpiar y actualizar el dropdown de clínicas
                var clinicaDropdown = document.getElementById('clinica');
                clinicaDropdown.innerHTML = '<p>Seleccionar Clínica</p5>';

                // Agregar las nuevas opciones de clínica
                clinicas.forEach(function (clinica) {
                    var option = document.createElement('option');
                    option.value = clinica.value;
                    option.text = clinica.text;
                    clinicaDropdown.appendChild(option);
                });

                // Restaurar el valor de la localidad
                localidadDropdown.value = localidadValue;
            }
        };
        xhrClinicas.send();

        // Realizar llamada AJAX para obtener localidades
        var xhrLocalidades = new XMLHttpRequest();
        xhrLocalidades.open('GET', '/Home/ObtenerLocalidades?provincia=' + provincia, true);
        xhrLocalidades.onreadystatechange = function () {
            if (xhrLocalidades.readyState === 4 && xhrLocalidades.status === 200) {
                // Manejar la respuesta JSON
                var localidades = JSON.parse(xhrLocalidades.responseText);

                // Limpiar y actualizar el dropdown de localidades
                var localidadDropdown = document.getElementById('localidad');
                localidadDropdown.innerHTML = '<option value="">Seleccionar Localidad</option>';

                // Agregar las nuevas opciones de localidad
                localidades.forEach(function (localidad) {
                    var option = document.createElement('option');
                    option.value = localidad.value;
                    option.text = localidad.text;
                    localidadDropdown.appendChild(option);
                });
            }
        };
        xhrLocalidades.send();
    }
</script>

@*
<script>
    function capturarProvinciaSeleccionada(provinciaSelect) {
        var provincia = provinciaSelect.value;

        // Realizar llamada AJAX para obtener clínicas
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/Home/ObtenerClinicas?provincia=' + provincia, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                    // Manejar la respuesta JSON
                var clinicas = JSON.parse(xhr.responseText);

                // Limpiar y actualizar el dropdown de localidades
                var clinicaDropdown = document.getElementById('clinica');
                clinicaDropdown.innerHTML = '<option value="">Seleccionar Clínica</option>';

                // Agregar las nuevas opciones de localidad
                clinicas.forEach(function (clinica) {
                    var option = document.createElement('option');
                    option.value = clinica.value;
                    option.text = clinica.text;
                    clinicaDropdown.appendChild(option);
                });
            }
        };
        xhr.send();
    }

</script> *@
@* <script>
    function capturarProvinciaSeleccionada(provinciaSelect) {
        var provincia = provinciaSelect.value;

        // Realizar llamada AJAX para obtener localidades
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/Home/ObtenerLocalidades?provincia=' + provincia, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Manejar la respuesta JSON
                var localidades = JSON.parse(xhr.responseText);

                // Limpiar y actualizar el dropdown de localidades
                var localidadDropdown = document.getElementById('localidad');
                localidadDropdown.innerHTML = '<option value="">Seleccionar Localidad</option>';

                // Agregar las nuevas opciones de localidad
                localidades.forEach(function (localidad) {
                    var option = document.createElement('option');
                    option.value = localidad.value;
                    option.text = localidad.text;
                    localidadDropdown.appendChild(option);
                });
            }
        };
        xhr.send();
    }
</script> *@