@model WebAppMerck.Models.Entities.Formulario

@{
    ViewData["Title"] = "Formulario";
}

<nav class="navbar">
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Inicio">
            <img src="~/imagenes/FlechanNavBar.png" />
        </a>
    </div>
    <ul class="nav-list" id="navList">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
    </ul>
    <div class="burger" id="burger">
        <div class="line" ></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>

<div class="row" style="background-color: #2EBDCD; padding:0; margin:0;">
    <div class="col-md-12">
        <div class="col-12 text-center vh-50" style="margin-top: 70px">
            <img class="mb-4" style="display:block; margin-left:auto; margin-right:auto" src="~/imagenes/LogoMerck.jpg" />

            <div class="text-center" style="margin-top: 65px; margin-bottom: 45px; color:#aff3fb;">
                <div class="row align-items-center">
                    <div class="col">
                        <img src="~/imagenes/FlechaIzquierda.png" />
                    </div>
                    <div class="col">
                        <p class="display-4" style="margin-bottom:0;">FORMULARIO</p>
                    </div>
                    <div class="col">
                        <img src="~/imagenes/FlechaDerecha.png" />
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div style="background-color:white; border-top-left-radius: 400px; border-top-right-radius: 500px; height: 60px"></div>
</div>


<div class="row" style="padding:0; margin:0;">
    <div class="col-md-12" style="background-color: #ffff;">
        <form method="post" asp-action="Index">
            <div class="text-center">
                <div class="container mt-5" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 15px; margin-bottom: 15px; width: 80%;">
                    <div class="row">
                        <div class="col-1">
                            <img src="~/imagenes/IconoEdadActual.png" style="width: 80px; height: 80px;" />
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col" style="margin-top: 5px">
                                    <p style="color: #6d62a0; text-align:center; font-size: 23px; font-weight: 500;">Edad actual</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="margin-top: -13px">
                                    <select id="edadActual" name="edadActual" value="@Model.EdadActual" style="width: 140px; height: 30px; border: 2px solid #333333; border-radius: 5px; margin-left:21px">
                                        <option value="">Seleccione Edad</option>
                                        @for (int i = 1; i <= 100; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.EdadActual)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-3" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 15px; margin-bottom: 15px; width: 80%;">
                    <div class="row">
                        <div class="col-1">
                            <img src="~/imagenes/IconoEdadPrimeraMenstruacion.png" style="width: 80px; height: 80px;" />
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col">
                                    <p style="color:#E26DA2; text-align:center; font-size: 23px; margin-bottom: -7px; font-weight: 500; margin-left: 15px">Edad primera</p>
                                    <p style="color:#E26DA2; text-align:center; font-size: 23px; margin-bottom: -10px; font-weight: 500; margin-left: 15px">menstruacion</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <select type="text" id="edadMenstruacion" name="EdadPrimeraMenstruacion" value="@Model.EdadPrimeraMenstruacion" style="width: 140px; height: 30px; margin-top: 10px; border: 2px solid #333333; border-radius: 5px;margin-left:20px">
                                        <option value="">Seleccione Edad</option>
                                        @for (int i = 1; i <= 100; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.EdadPrimeraMenstruacion)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-info col-8 offset-2 p-9 my-5 btn-rounded custom-btn btn-text-white" style="border-radius: 35px; border: 2px solid white; background-color: #067785; color: #94d4de; margin-right:90px; font-size:17px">Iniciar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
